* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

#header {
  display: flex;
  align-items: center;
}

#search-cont {
  position: fixed;
  top: 16px;
  right: 25px;
}

input#search {
  padding: 8px;
}

h1 {
  margin: 16px 25px;
  font-size: 22px;
}

#hover {
  position: absolute;
  z-index: 999;
  background-color: #fdfd96;
  padding: 4px;
  border: #000 1px solid;
}

#footer {
  padding: 0 25px 25px 25px;
}

#footer p {
  margin-bottom: 0;
}
